.schedule {
  text-align: left;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.scheduleTitle {
  text-align: center;
  line-height: 0.5;
}

.scheduleTitle span {
  display: inline-block;
  position: relative;
}

.scheduleTitle span:before,
.scheduleTitle span:after {
  content: '';
  position: absolute;
  height: 20px;
  border-bottom: 1px solid #c2c2c2;
  top: 0;
  width: 100%;
}

.scheduleTitle span:before {
  right: 100%;
  margin-right: 15px;
}
.scheduleTitle span:after {
  left: 100%;
  margin-left: 15px;
}

.groupByBtns {
  text-align: center;
  margin-top: 24px;
}

.selectedBtn {
  background-color: #1890ff !important;
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.12) !important;
}

.unselectedBtn {
  background-color: #fff !important;
  color: #1890ff !important;
  text-shadow: none !important;
}

.gameDate {
  padding-top: 20px;
}

.gameDateTitle {
  border-bottom: 1px solid #c2c2c2;
  padding-bottom: 8px;
}

.matchupText {
  color: black;
  font-size: 18px;
  font-weight: 400;
}

.winningScore {
  font-weight: 700;
}

@media only screen and (max-width: 768px) {
  .scheduleTitle span:before,
  .scheduleTitle span:after {
    width: 0;
  }
}
